/* font-family: 'Indie Flower', cursive;
font-family: 'Lobster', cursive; */

body {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  background: url(./telephone-validator-background.jpg) no-repeat center center
    fixed;
}

#navigation-container {
  padding-top: 0;
}

nav {
  background-color: rgba(0, 0, 0, 0.5);
}

#main-menu .nav-link {
  color: #fff;
}

#main-menu .nav-link:hover {
  background-color: #fff;
  color: #000;
}

.container-fluid {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 3rem;
}

p {
  font-size: 1.5rem;
}

ul {
  margin: 1rem auto;
  width: 15rem;
}

li {
  /* list-style-type: none; */
  text-align: left;
}

.inputs {
  display: block;
  margin: 1rem auto;
  font-size: 1.5rem;
}
